<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2012 Markus Scheidgen
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel/frag"
            class="de.hub.emffrag.testmodels.testmodel.frag.meta.TestModelPackage"
            genModel="metamodels/TestMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel/regular"
            class="de.hub.emffrag.testmodels.testmodel.TestModelPackage"
            genModel="metamodels/TestMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestMM_access -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.testmodel.access.meta.TestModelPackage"
            genModel="metamodels/TestMM_access.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestMM_regular -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.regular.testmodel.meta.TestModelPackage"
            genModel="metamodels/TestMM_regular.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestMM_fObject -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.fobject.testmodel.meta.TestModelPackage"
            genModel="metamodels/TestMM_fObject.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestMM_frag -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.frag.testmodel.meta.TestModelPackage"
            genModel="metamodels/TestMM_frag.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eObject.fObjectImpl.testmodel -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.eobject.testmodel.fobject.meta.TestModelPackage"
            genModel="metamodels/eObject.fObjectImpl.testmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel.fobject.fobject -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.fobject.testmodel.fobject.meta.TestModelPackage"
            genModel="metamodels/testmodel.fobject.fobject.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel.eobject.eobject -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.eobject.testmodel.eobject.meta.TestModelPackage"
            genModel="metamodels/testmodel.eobject.eobject.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel.eobject.accessnot -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.eobject.testmodel.accessnot.meta.TestModelPackage"
            genModel="metamodels/testmodel.eobject.accessnot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel.eobject.unload -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.eobject.testmodel.unload.meta.TestModelPackage"
            genModel="metamodels/testmodel.eobject.unload.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testmodel.eobject.proxy -->
      <package
            uri="http://hu-berlin.de/sam/emfhbase/testmodel"
            class="de.hub.emffrag.testmodels.eobject.testmodel.proxy.meta.TestmodelPackage"
            genModel="metamodels/testmodel.eobject.proxy.genmodel"/>
   </extension>

</plugin>
