<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2012 Markus Scheidgen
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<plugin
      name="%pluginName"
      id="de.hub.emffrag.editor"
      version="1.0.0"
      provider-name="%providerName"
      class="de.hub.emffrag.model.emffrag.presentation.emffragEditorPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="de.hub.emffrag.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.eclipse.emf.edit.ui" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="de.hub.emffrag.testmodels" version="1.0.0"/>
      <import plugin="de.hub.srcrepo" version="1.0.0"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.hub.emffrag.model.emffrag.presentation.EmfFragModelWizardID"
            name="%_UI_EmfFragModelWizard_label"
            class="de.hub.emffrag.model.emffrag.presentation.EmfFragModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EmfFragModelFile.gif">
         <description>%_UI_EmfFragModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.hub.emffrag.model.emffrag.presentation.EmfFragEditorID"
            name="%_UI_EmfFragEditor_label"
            icon="icons/full/obj16/EmfFragModelFile.gif"
            extensions="emffrag"
            class="de.hub.emffrag.model.emffrag.presentation.EmfFragEditor"
            contributorClass="de.hub.emffrag.model.emffrag.presentation.EmfFragActionBarContributor">
      </editor>
      
   </extension>

</plugin>
